@model TaskBack.Models.Entities.Department

@{
    ViewData["Title"] = "Create Department";
}

<h2>Create Department</h2>

<h4>Department</h4>
<hr />
<form asp-action="Create" method="post">
    @Html.AntiForgeryToken()
    <div class="form-group">
        <label asp-for="Name" class="control-label">Name</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Logo" class="control-label">Logo</label>
        <input asp-for="Logo" class="form-control" />
        <span asp-validation-for="Logo" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>
